!.gitignore

# ignore certain file extensions
*.synctex.gz
*.synctex.gz.sum.synctex
*.synctex(busy)
*.sublime-workspace
*.asv
*.aux
*.bbl
*.bcf
*.blg
*.ini
*.log
*.nav
*.xml
*.snm
*.toc
*.vrb

# ignore certain folders
**/.build/

# ignore specific files
.DS_Store
